@import '../../../assets/css/variables';

.header {
  width: 100%;
  height: calc(100% - 4px);
  background-color: $background;
  border-bottom: 4px solid $orange;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
}

.logo-container {
  margin: 0 auto;
  height: 100%;
  max-width: $primary-width;
  display: flex;
  align-items: center;

  img {
    @media only screen and (max-width: 500px) {
      width: calc(100% - 48px);
      margin: 0 24px
    }
  }
}