<div class="transfer-form-container">
  <app-card-header title="Make a Transfer" [headerWidth]="45" iconSrc="/assets/img/icons/arrows.png">
  </app-card-header>

  <div class="content">
    <form [formGroup]="formGroup" (submit)="submitForm()" class="form">
      <div class="label">FROM ACCOUNT</div>
      <input class="input-field form-control" formControlName="fromAccount" value="asdasd">
      <div class="label">TO ACCOUNT</div>
      <input class="input-field form-control" formControlName="toAccount">
      <div class="label">AMOUNT</div>
      <div class="input-container">
        <input class="input-field prefix form-control" formControlName="amount">
        <span class="prefix-element">€</span>
      </div>
      <div class="button-container">
        <button type="submit" class="submit-button button-primary">SUBMIT</button>
      </div>
    </form>
    <div *ngIf="showDetails" class="details">
      <div>
        From Account: {{ formValue.fromAccount }}
      </div>
  
      <div>
        To account: {{ formValue.toAccount }}
      </div>
  
      <div>
        Amount: {{ formValue.amount }}
      </div>
  
      <div class="button-container">
        <button (click)="transfer()" class="submit-button button-primary">TRANSFER</button>
      </div>
    </div>
  </div>
</div>