@import '../../../assets/css/variables';

.transfer-form-container {
  width: 100%;
  background-color: $background;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.content {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
}

.form {
  width: 100%;

  .label {
    text-transform: uppercase;
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  .form-control {
    width: 100%;
  }
}

.deteils {
  margin-top: 20px;
  width: 100%;
}

.button-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;

  .submit-button {
    width: 100px;
    height: 40px;
    background-color: $orange;
    color: white;
  }
}
