<div class="transaction-container">
  <div class="form">
    <app-transfer-form></app-transfer-form>
  </div>
  <div class="resent">
    <app-resent-transactions></app-resent-transactions>
  </div>
</div>