$header-height: 90px;

.container {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  height: $header-height;
}

.content {
  width: 100%;
  height: calc(100% - #{$header-height});
}
