<div class="transfer-form-container">
  <app-card-header title="Resent Transactions" [headerWidth]="62" iconSrc="/assets/img/icons/briefcase.png">
  </app-card-header>
  <div class="content">
    <div>
      <app-transaction-filters></app-transaction-filters>
    </div>
    <div class="list">
      <app-transaction *ngFor="let transaction of transactions$ | async" [transaction]="transaction"></app-transaction>
    </div>
  </div>
</div>