@import '../../../assets/css/variables';

.transfer-form-container {
  width: 100%;
  background-color: $background;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  
  .content {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }

  .list {
    width: 100%;
    border: 1px solid $secondary;
    border-left: none;
  }
}