@import '../../assets/css/variables';

.card-header {
  background-color: $header-color;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
}

.title {
  flex: 1;
  text-align: center;
}
